.info {
    padding-top: 5rem;
}

.info__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__img{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__img img{
    margin: 1rem;
}

.info__content{
    width: 100%;
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__content__description {
    text-align:justify;
}

.info__footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.info__footer__price,
.info__footer__quantify {
    width: 100px;
    padding: 0.3rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__footer__quantify-counter {
    display: flex;
}

.btn__cart {
    background-color: #7166ee;
    color: white;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 100ms ease-in-out, filter 100ms ease-in-out;
}

.btn__cart:hover {
    filter: brightness(1.3);
    transform: scale(1.2);
}

@media (min-width:671px) {
    .info__box {
        flex-direction: row;
        margin: 0 auto;
        max-width: 80%;
    }

    .info__img {
        width: 100%;
    }

}